# Java class files
*.class

# Ignore gradle files
.gradle/
build/

# Configuration file (sdk path, etc)
local.properties
gradle.properties

# Intellij project files
*.iml
.idea/

# Mac system files
.DS_Store

#External ignores
raw_files/
server_root/