# Ignore gradle files
.gradle
/build
/captures

# Configuration file (sdk path, etc)
/local.properties
/gradle.properties

# Intellij project files
/.idea/workspace.xml
/.idea/libraries

# Mac system files
.DS_Store

#External ignores
/raw_files
